body {background-color: beige;}
#nav, #nav ul
{
    background-color:#1a1aff;
    color:#000;
    margin:0;
    padding:0;
    list-style:none;
	text-align:center;
}
#nav li
{
    background-color:#1a1aff;
    color:#000;
    float:left;
}
#nav li a
{
    background-color:1a1aff;
    display:block;
    padding:20px;
}
#nav li a:link, #nav li a:visited
{
    background-color:#1a1aff;
    color:#fff;
    display:block;
    padding:10px;
    text-decoration:none;
	}
#nav li a:hover
{
    background-color:#e6e6ff;
    color:#000;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: red;
}

/* Float the list items side by side */
ul.tab li {
   float: left;
   
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
